.language-gramat{
  .hljs-keyword{
    color: navy;
    font-weight: bold;
  }
  .hljs-string{
    color: maroon;
  }
  .hljs-comment{
    color: gray;
  }
  .hljs-declaration{
    color: purple;
    font-weight: bold;
  }
}
